* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    height: 300px;
    width: 25%;
    float: left;
}

.one {
    background: red;
}

.two {
    background: green;
}

.three {
    background: yellow;
}

.four {
    background: blue;
}


body {
    background: gray;
}

/* .banner {
    border: 1px solid red;
    padding: 2rem;
}

.one {

    float: left;
    border: 1px solid red;
    padding: 5px;
}

.two {

    float: right;
    border: 1px solid red;
    padding: 5px;
    height: 10px;
}

p {
    clear: both;
} */