body {
    background: rgb(188, 182, 182);
}

:root {
    --primaryColour: black;
    --secondaryColour: blue;
    --p-colour: yellow;
    --transition: all 2s linear;
    --mainSpacing: 2px;

}

h1 {
    color: black;
}

h2 {
    color: red;
}

h3 {
    color: blue;
}

.main {
    color: var(--secondaryColour);
}

.main_text {
    color: var(--p-colour);
    letter-spacing: var(--mainSpacing);
    transition: var(--transition);

}