body {
    background: rgb(188, 182, 182);
}

:root {
    --primaryColour: black;
    --secondaryColour: blue;
    --p-colour: yellow;

}

h1 {
    color: black;
}

h2 {
    color: red;
}

h3 {
    color: blue;
}

.main {
    color: var(--secondaryColour);
}

.main_text {
    color: var(--p-colour)
}