body {
    background: gray;

}

div {
    height: 300px;
    color: white;
    border: 2px solid blue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;

}

.big_img {
    background: url('./big.jpeg');
    background-size: cover;
    background-position: center;

}

.small_img {
    background: url('./big.jpeg');
    background-size: cover;
    background-attachment: fixed;


    /* background: url('./small.jpeg'); */
    /* background-repeat: no-repeat;
    background-position: right; */
    /* background-position: inherit; */

}

.folder_img {
    background: linear-gradient(rgba(0, 0, 0, 0.111), rgba(0, 0, 0, 0.709)), url('./images/folder-img.jpeg') center/cover no-repeat fixed;

}