/* 
::before ::after pseudo-elements creates element and inserts before and after CONTENT
content:'' - required
img --- does not work
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: lightblue;
}

p {
    background: yellow;
}