* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background: green;
    height: 100vh;
    width: 100vw;
}

.hero2 {
    background: blue;
    height: 43vh;
    width: 53vw;
}

.navbar {
    background: blue;
    height: 100px;
    color: white;
    font-size: 3rem;
}

.banner {
    background: red;
    /* height: calc(100vh - 100px); */
    min-height: calc(100vh - 100px);
}

/* the height of the div is defualt auto */
.example {
    background: rgb(128, 0, 34);
    width: 5rem;
    height: 25rem;
    overflow: hidden;
    overflow: scroll;
}