@import url("https://fonts.googleapis.com/css?family=Roboto:400,500i,700|Trade+Winds&display=swap");

/* 
text-align, text-indent
line-height - if number * by the font size 
letter-spacing 
word-spacing 
text-decoration 
text-transform 


body {
  font-family: "Roboto", sans-serif;
  text-align: right;
  font-size: 20px;
  line-height: 1;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

h1 {
  font-size: 20px;
}

.main-heading {
  font-family: "Trade Winds", cursive;
  text-align: center;
}

.sub-heading {}

.one {
  letter-spacing: 1rem;
}

.two {
  text-align: center;
  text-indent: 1rem;
}
*/
/* body {
  font-family: "Roboto", sans-serif;
} */

/* * {
  margin: auto;
} */

h1,
h2 {
  font-family: cursive;
}

.container {
  color: green;

  padding: 0.5rem;
  padding-left: 30px;
  border: 3px solid yellow;
  border-radius: 3px;
  margin-top: 1rem;
}

body {
  font-family: Oxygen;
}

p {
  background-color: gray;
  padding: 2rem;
  border: 10px solid red;
  border-radius: 2%;
  /* padding: 20px;
  border-style: dashed;
  border-width: 10px; */

}

.links {
  margin: 2rem;
  background-color: grey;
  border-radius: 20px;
  padding: 2rem 1.5rem;


}

a {
  text-decoration: none;
  background-color: green;
  padding: 0.5rem;
  margin: 0 3rem;

}

#two {

  outline-width: 0.2rem;
  outline-color: red;
  outline-style: solid;
  outline: 0.1rem solid blue;
  outline-offset: -1rem;

}

#one {
  border: 0.5rem solid yellow;
}