@import url("https://fonts.googleapis.com/css?family=Roboto:400,500i,700|Trade+Winds&display=swap");

/* 
text-align, text-indent
line-height - if number * by the font size 
letter-spacing 
word-spacing 
text-decoration 
text-transform 


body {
  font-family: "Roboto", sans-serif;
  text-align: right;
  font-size: 20px;
  line-height: 1;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

h1 {
  font-size: 20px;
}

.main-heading {
  font-family: "Trade Winds", cursive;
  text-align: center;
}

.sub-heading {}

.one {
  letter-spacing: 1rem;
}

.two {
  text-align: center;
  text-indent: 1rem;
}
*/
/* body {
  font-family: "Roboto", sans-serif;
} */

h1,
h2 {
  font-family: cursive;
}

.container {
  color: green;
  padding: 0.5rem;
}

body {
  font-family: Oxygen;
}

p {
  background-color: gray;
}